<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1

    RewriteRule ^(/)?$ index.php/$1 [L]

    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteRule ^(.*)$ index.php/$1 [L]

    #ErrorDocuments 
    ErrorDocument 404 /public/index.php/__ERROR_404__
    ErrorDocument 500 /public/index.php/__ERROR_500__
</IfModule>

